name: Rust Kernel Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Nightly
      run: |
        rustup toolchain install nightly
        rustup component add rust-src --toolchain nightly
        rustup component add llvm-tools-preview --toolchain nightly
        rustup default nightly

    - name: Build Kernel
      run: |
        # We set the RUSTFLAGS here just like you do in PowerShell
        export RUSTFLAGS="-C link-arg=-Tlinker.ld"
        cargo build --release --target arm-jabberr.json -Z build-std=core,compiler_builtins -Zjson-target-spec

    - name: Archive Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Jabberr_OS_Kernel
        path: target/arm-jabberr/release/Jabberr_OS